<h4><%= @song.name%></h4>

<h4>Artist:</h4>
<a href="/artists/<%= @song.artist.slug%>">
  <%= @song.artist.name %>
</a>

<h4>Genre(s):</h4>
<% @song.genres.each do |genre|  %>
  <li> <a href="/genres/<%= genre.slug%>">
    <%= genre.name %>
  </a> </li>
<% end %>
